@media print {
    /* All your print styles go here */

    @page {
        size: A4;
        margin-top: 20mm;
        margin-bottom: 25mm;
        margin-left: 20mm;
        margin-right: 15mm;
        background-color: white;
    }

    body {
        width: var(--pagedjs-pagebox-width);
        height: var(--pagedjs-pagebox-height);
        background-color: darkgray;
    }

    /* this overwrites style from jats-html.css => consider separating */
    div {
        margin: 0px !important;
    }

    /* put the document title into a local variable */
    h1.document-title {
        string-set: title content(text);
    }

    /* put the journal idetification into a local variable */
    #header p {
        string-set: journal-title content(text);
    }

    @page {
        @bottom-right-corner {
            content: counter(page);
        }

        /* show the title variable in the top right corner and move to right margin*/
        /* all used margin boxes span the full width of page, i.e. top-right when alone spans full body width*/
        /* @top-right {
            content: string(journal-title);
            background-color: #3c6478;
            color: white;
            width: 100mm;
            height: 10mm;
            position: relative;
            transform: rotate(-90deg) translate(-150mm, 58mm);
            text-align: center !important;
            align-items: center;
        } */
    }

    @page:first {
        @top-right {
            content: none;
            display: none;
        }
    }

    table {
        table-layout: fixed;
        page-break-inside: avoid;
    }
}